{# src/Bulahov/TestBundle/Resources/views/Success/index.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
<h1>Ваше сообщение бало успешно отправленно</h1>
<ul>
    <li>
        <a href="contact">Заполнить форму ещё раз</a>
    </li>
    <li>
        <a href="./">Вернуться на главную</a>
    </li>
</ul>
{% endblock %}